<!-- Aşağıdaki değişkenler app.component.ts dosyasından çekilmektedir.-->
Ad Soyad: {{name}}
<br>
<br>
Yıl: {{year}}
<br>
<br>
Tarih: {{date}}
<br>
<br>
Bool: {{bool}}
<br>
<br>
<!--Eşzamanlı olarak gerçekleşen değişikliği algılayıp ekrana render eden yapı : two-way binding
    Alternatif olarak ngModel kullanılabilir.-->
<form [formGroup]="form">
  Ad Soyad Reactive Form: <input type="text" formControlName="name">
  <br>
  <br>
  Ad Soyad Reactive Form: {{ form.controls['name'].value }}
  <br>
  <br>
</form>

<router-outlet></router-outlet>
